{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Id y enseñad a todos.</span>
            <span class="section-heading-lower">Principios</span>
          </h2>
          <p class="mb-3">Las acciones que desarrolla la Dirección General de Extensión Universitaria, se fundamentan en los principios de libertad, justicia, dignidad, inclusión, equidad, verdad, respeto, transparencia, tolerancia y solidaridad, 
            con el propósito de contribuir al bienestar social y elevar el nivel espiritual de las guatemaltecas y los guatemaltecos.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Excelencia</span>
                <span class="section-heading-lower">Mision</span>
              </h2>
              <p class="mb-0">Fortalecer la integración Universidad-sociedad, la ciencia y la cultura en todas sus manifestaciones, así como la identidad nacional, por medio de la participación multidisciplinaria, innovadora, dinámica y flexible, que permita desarrollar capacidades institucionales para contribuir al estudio y propuestas de solución para el desarrollo de la nación guatemalteca.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Compromiso total</span>
                    <span class="section-heading-lower">Vision</span>
                </h2>
              <p class="mb-0">Ser una dependencia de la Universidad de San Carlos de Guatemala, dinámica, innovadora y emprendedora, con capacidad de autogestión e incidencia en el desarrollo integral del país. Su talento humano posee sólidas competencias laborales y compromiso con la misión institucional. Posee equipos inter y transdisciplinarios, capaces de integrar acciones académicas, sociales, culturales, socio ambientales y en la gestión de riesgo, que contribuyan significativamente al desarrollo sostenible del país, en función de las condiciones históricas y estructurales de la nación guatemalteca.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
    